[defaults]
# Location of dynamic inventory
inventory = ./inventory/aws_ec2.yml

# Path to the private key file for SSH access
private_key_file = ~/webserver-kp.pem

# Default SSH user for Amazon Linux AMIs
remote_user = ec2-user

# Don't check host keys (use with caution in production)
host_key_checking = False

# Show output in a more readable format
stdout_callback = yaml